{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{homestat.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Street">Street</label>
            <input id="Street" type="text" class="form-control" placeholder="Street" name="Street" value="{{homestat.Street}}">
        </div>
        <div class="col">
            <label for="City"> City</label>
            <input id="City" type="text" class="form-control" placeholder="City" name="City" value="{{homestat.City}}">
        </div>
        <div class="col">
            <label for="Zip_Code">Zip Code</label>
            <input id="Zip_Code" type="text" class="form-control" placeholder="Zip Code" name="Zip_Code" value="{{homestat.Zip_Code}}">
        </div>
        <div class="col">
            <label for="Selling_Price">Your Age</label>
            <input id="Selling_Price" type="text" class="form-control" placeholder="Selling Price" name="Selling_Price" value="{{homestat.Selling_Price}}">
        </div>
        <div class="col">
            <label for="Listing_Price">Your Age</label>
            <input id="Listing_Price" type="text" class="form-control" placeholder="Listing Price" name="Listing_Price" value="{{homestat.Listing_Price}}">
        </div>
        <div class="col">
            <label for="Sq_ft">Your Age</label>
            <input id="Sq_ft" type="text" class="form-control" placeholder="Square Feet" name="Sq_ft" value="{{homestat.Sq_ft}}">
        </div>
        <div class="col">
            <label for="Rooms"> Rooms</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Rooms" name="Rooms" value="{{homestat.Rooms}}">
        </div>
        <div class="col">
            <label for="Baths">Baths</label>
            <input id="Baths" type="text" class="form-control" placeholder="Baths" name="Baths" value="{{homestat.Baths}}">
        </div>
        <div class="col">
            <label for="Age_of_House">Your Age</label>
            <input id="Age_of_House" type="text" class="form-control" placeholder="Age of House" name="Age_of_House" value="{{homestat.Age_of_House}}">
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}




