{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{biostat.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="YourName">Person's Name</label>
            <input id="YourName" type="text" class="form-control" placeholder="Your Name" name="YourName" value="{{biostat.YourName}}">
        </div>
        <div class="col">
            <label for="Sex">Your Sex</label>
            <input class="form-control" id="Sex" name="Sex" placeholder="Your Sex" type="text" value="{{biostat.Sex}}">
        </div>
        <div class="col">
            <label for="Age">Your Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Your Age" name="Age" value="{{biostat.Age}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Height_in">Your Height</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Your Height" name="Height_in" value="{{biostat.Height_in}}">
        </div>
        <div class="col">
            <label for="Weight_lbs">Your Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Your Weight" name="Weight_lbs" value="{{biostat.Weight_lbs}}">
        </div>

    <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}


