{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{city.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="fldName">City Name</label>
            <input class="form-control" id="fldName" name="fldName" placeholder="City Name" type="text" value="{{city.fldName}}">
        </div>

        <div class="col">
            <label for="fldAbbreviation">City Abbreviation</label>
            <input class="form-control" id="fldAbbreviation" name="fldAbbreviation" placeholder="City Abbreviation"
                   type="text" value="{{city.fldAbbreviation}}">
        </div>

        <div class="col">
            <label for="fldCountry">City Country</label>
            <input class="form-control" id="fldCountry" name="fldCountry" placeholder="City Country" type="text" value="{{city.fldCountry}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldLat">City Latitude</label>
            <input class="form-control" id="fldLat" name="fldLat" placeholder="City Latitude" type="text" value="{{city.fldLat}}">
        </div>
        <div class="col">
            <label for="fldlong">City Longitude</label>
            <input class="form-control" id="fldlong" name="fldLong" placeholder="City Longitude" type="text" value="{{city.fldLong}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldCapitalStatus">Capital Status</label>

            <input class="form-control" id="fldCapitalStatus" name="fldCapitalStatus" placeholder="Capital Status"
                   type="text" value="{{city.fldCapitalStatus}}">
        </div>
        <div class="col">
            <label for="fldPopulation">City Population</label>
            <input class="form-control" id="fldPopulation" name="fldPopulation" placeholder="Population" type="text" value="{{city.fldPopulation}}">
        </div>
    <button class="btn btn-success" type="submit">Save</button>
    </div>
</form>
{% endblock %}