{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Your Name</th>
        <th scope="col">Your Sex</th>
        <th scope="col">Your Age</th>
        <th scope="col">Your Height</th>
        <th scope="col">Your Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for biostat in biostats %}
    <tr>
        <td><a href="view/{{biostat.id}}">{{ biostat.YourName }}</a></td>
        <td>{{ biostat.Sex }}</td>
        <td>{{ biostat.Age }}</td>
        <td>{{ biostat.Height_in }}</td>
        <td>{{ biostat.Weight_lbs }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}