{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Street</th>
        <th scope="col">City</th>
        <th scope="col">Zip Code</th>
        <th scope="col">Selling Price</th>
        <th scope="col">Listing Price</th>
        <th scope="col">Square Feet</th>
        <th scope="col">Rooms</th>
        <th scope="col">Baths</th>
        <th scope="col">Age of House</th>
    </tr>
    </thead>
    <tbody>
    {% for homestat in homestats %}
    <tr>
        <td><a href="view/{{homestat.id}}">{{ homestat.Street }}</a></td>
        <td>{{ homestat.City }}</td>
        <td>{{ homestat.Zip_Code }}</td>
        <td>{{ homestat.Selling_Price }}</td>
        <td>{{ homestat.Listing_Price }}</td>
        <td>{{ homestat.Sq_ft }}</td>
        <td>{{ homestat.Rooms }}</td>
        <td>{{ homestat.Baths }}</td>
        <td>{{ homestat.Age_of_House }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}