{% extends "layout.html" %}
{% block content %}
<form action="/biostats/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="YourName">Your Name</label>
            <input id="YourName" type="text" class="form-control" placeholder="Your Name" name="YourName">
        </div>
        <div class="col">
            <label for="Sex">Your Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Your Sex"
                   name="Sex">
        </div>
        <div class="col">
            <label for="Age">Your Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Your Age" name="Age">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_in">Your Height in inches</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Your Height in inches" name="Height_in">
        </div>
        <div class="col">
            <label for="Weight_lbs">Your Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Your Weight" name="Weight_lbs">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>

</form>

{% endblock %}